In [1]:
import numpy as np
import pandas as pd

# Load the Dataset

In [2]:
data = pd.read_csv("dataset_Facebook.csv", delimiter=";", encoding="utf-8")
data

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

# Checking Null values

In [3]:
data.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   1
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   1
share                                                                  4
Total Interactions                                                     0
dtype: int64

In [4]:
df = data.dropna()

In [5]:
df.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   0
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   0
share                                                                  0
Total Interactions                                                     0
dtype: int64

In [6]:
data.columns

Index(['Page total likes', 'Type', 'Category', 'Post Month', 'Post Weekday',
       'Post Hour', 'Paid', 'Lifetime Post Total Reach',
       'Lifetime Post Total Impressions', 'Lifetime Engaged Users',
       'Lifetime Post Consumers', 'Lifetime Post Consumptions',
       'Lifetime Post Impressions by people who have liked your Page',
       'Lifetime Post reach by people who like your Page',
       'Lifetime People who have liked your Page and engaged with your post',
       'comment', 'like', 'share', 'Total Interactions'],
      dtype='object')

# A) Create data subsets

# Subset 1: Posts with more than 100 likes

In [7]:
subset1 = df[df["like"] > 100]
subset1

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
5,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
6,139441,Photo,3,12,1,3,1.0,11692,19479,481,265,364,15432,9328,379,3,249.0,27.0,279
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,85979,Photo,3,1,7,10,0.0,9700,17442,1407,1271,2007,8872,4876,660,21,277.0,80.0,378
491,85979,Photo,3,1,6,3,1.0,6184,10228,956,901,1140,6085,3502,437,1,105.0,46.0,152
492,85979,Link,1,1,5,11,0.0,45920,5808,753,655,763,15766,10720,220,0,128.0,9.0,137
493,85093,Photo,3,1,1,2,0.0,8412,13960,1179,1111,1632,8632,5348,699,17,185.0,55.0,257
494,85093,Photo,3,1,7,10,0.0,5400,9218,810,756,1003,5654,3230,422,10,125.0,41.0,176

# Subset 2: Posts of type 'Photo'

In [8]:
subset2 = df[df["Type"] == "Photo"]
subset2

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
6,139441,Photo,3,12,1,3,1.0,11692,19479,481,265,364,15432,9328,379,3,249.0,27.0,279
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,85093,Photo,3,1,7,10,0.0,5400,9218,810,756,1003,5654,3230,422,10,125.0,41.0,176
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136

# Subset 3: Posts published on weekdays only

In [9]:
subset3 = df[df['Post Weekday'] < 6]
subset3

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,85979,Link,1,1,5,11,0.0,45920,5808,753,655,763,15766,10720,220,0,128.0,9.0,137
493,85093,Photo,3,1,1,2,0.0,8412,13960,1179,1111,1632,8632,5348,699,17,185.0,55.0,257
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136

# Subset 4: Subset for the columns like, share, and comment

In [10]:
subset4 = df[['Lifetime Post Total Impressions', 'like', 'share', 'comment']]
subset4

     Lifetime Post Total Impressions    like  share  comment
0                               5091    79.0   17.0        4
1                              19057   130.0   29.0        5
2                               4373    66.0   14.0        0
3                              87991  1572.0  147.0       58
4                              13594   325.0   49.0       19
..                               ...     ...    ...      ...
494                             9218   125.0   41.0       10
495                             7536    53.0   26.0        5
496                             6229    53.0   22.0        0
497                             7216    93.0   18.0        4
498                             7564    91.0   38.0        7

[495 rows x 4 columns]

# Subset 5: Subset for the columns like, Category, and Type

In [11]:
subset5 = df[['Lifetime Post Total Impressions', 'like','Category', 'Type']]
subset5

     Lifetime Post Total Impressions    like  Category    Type
0                               5091    79.0         2   Photo
1                              19057   130.0         2  Status
2                               4373    66.0         3   Photo
3                              87991  1572.0         2   Photo
4                              13594   325.0         2   Photo
..                               ...     ...       ...     ...
494                             9218   125.0         3   Photo
495                             7536    53.0         3   Photo
496                             6229    53.0         2   Photo
497                             7216    93.0         1   Photo
498                             7564    91.0         3   Photo

[495 rows x 4 columns]

# Subsets Using Slicing (2 subsets)

# Subset 6: First 100 rows

In [12]:
subset6 = df.iloc[:100]
subset6

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,137059,Photo,3,10,6,10,0.0,3090,5744,391,257,360,3521,1796,293,5,153.0,27.0,185
96,137059,Photo,1,10,6,3,0.0,1101,2548,324,287,2418,1284,704,220,3,51.0,11.0,65
97,137059,Photo,2,10,5,11,0.0,2819,5230,318,218,303,3128,1622,240,1,115.0,26.0,142
98,137020,Status,2,10,5,3,1.0,12468,24917,2143,1966,2576,15850,7636,1661,7,310.0,61.0,378
99,137020,Photo,1,10,4,10,0.0,12776,21893,785,539,881,13272,7800,575,12,328.0,90.0,430

# Subset 7: Select only 'Type' and 'like' columns for all rows

In [13]:
subset7 = df.loc[:, ['Type', 'like']]
subset7

       Type    like
0     Photo    79.0
1    Status   130.0
2     Photo    66.0
3     Photo  1572.0
4     Photo   325.0
..      ...     ...
494   Photo   125.0
495   Photo    53.0
496   Photo    53.0
497   Photo    93.0
498   Photo    91.0

[495 rows x 2 columns]

# B) Merge Data

# Concatenating row-wise (axis=0)

In [14]:
merged_row_wise = pd.concat([subset1, subset2], axis=0)  # Merging two subsets vertically
merged_row_wise

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
5,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
6,139441,Photo,3,12,1,3,1.0,11692,19479,481,265,364,15432,9328,379,3,249.0,27.0,279
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,85093,Photo,3,1,7,10,0.0,5400,9218,810,756,1003,5654,3230,422,10,125.0,41.0,176
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136

# Merge Column-wise

In [45]:
merged_df = pd.merge(subset4, subset5, on = ['Lifetime Post Total Impressions', 'like'], how='left')
merged_df

     Lifetime Post Total Impressions    like  share  comment  Category    Type
0                               5091    79.0   17.0        4         2   Photo
1                              19057   130.0   29.0        5         2  Status
2                               4373    66.0   14.0        0         3   Photo
3                              87991  1572.0  147.0       58         2   Photo
4                              13594   325.0   49.0       19         2   Photo
..                               ...     ...    ...      ...       ...     ...
490                             9218   125.0   41.0       10         3   Photo
491                             7536    53.0   26.0        5         3   Photo
492                             6229    53.0   22.0        0         2   Photo
493                             7216    93.0   18.0        4         1   Photo
494                             7564    91.0   38.0        7         3   Photo

[495 rows x 6 columns]

In [44]:
# merged_column_wise = pd.concat([subset4,subset5], axis=1)
# merged_column_wise

In [46]:
# # Check how many duplicates exist in 'like' column
# print(subset4['Lifetime Post Total Impressions'].value_counts())
# print(subset5['Lifetime Post Total Impressions'].value_counts())

In [47]:
# # Remove duplicates based on merging column
# subset4_unique = subset4.drop_duplicates(subset=['Lifetime Post Total Impressions'])
# subset5_unique = subset5.drop_duplicates(subset=['Lifetime Post Total Impressions'])

In [49]:
# # Merge to retain all rows from subset0
# merged_df = pd.merge(subset4_unique, subset5_unique,  how='left')
# # merged_d

In [19]:
for col in df.columns:
    print(f"Unique values in '{col}':", df[col].nunique())

Unique values in 'Page total likes': 90
Unique values in 'Type': 4
Unique values in 'Category': 3
Unique values in 'Post Month': 12
Unique values in 'Post Weekday': 7
Unique values in 'Post Hour': 22
Unique values in 'Paid': 2
Unique values in 'Lifetime Post Total Reach': 481
Unique values in 'Lifetime Post Total Impressions': 489
Unique values in 'Lifetime Engaged Users': 411
Unique values in 'Lifetime Post Consumers': 418
Unique values in 'Lifetime Post Consumptions': 436
Unique values in 'Lifetime Post Impressions by people who have liked your Page': 487
Unique values in 'Lifetime Post reach by people who like your Page': 464
Unique values in 'Lifetime People who have liked your Page and engaged with your post': 378
Unique values in 'comment': 46
Unique values in 'like': 257
Unique values in 'share': 88
Unique values in 'Total Interactions': 280

# C) Sorting ascending and descending order for single column and multiple columns

# Sort by Likes in Ascending Order

In [24]:
sorted_data = df.sort_values(by='like', ascending=True)
sorted_data

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
417,104070,Photo,1,3,3,10,0.0,1874,2474,25,25,31,1483,1062,15,0,0.0,0.0,0
441,98195,Photo,1,3,5,4,1.0,1845,2670,9,9,9,1614,1008,9,0,0.0,0.0,0
100,137020,Photo,1,10,4,9,1.0,1357,2453,37,37,55,2154,1120,32,0,0.0,0.0,0
76,137893,Photo,1,11,3,2,0.0,1228,2392,17,17,19,2392,1228,17,0,0.0,0.0,0
21,138414,Photo,1,12,7,10,0.0,1384,2467,15,15,20,2196,1172,15,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
349,117764,Photo,3,5,5,13,0.0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639.0,122.0,1806
379,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,2177
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334

# Sort by Likes in Descending Order

In [25]:
sorted_data = df.sort_values(by='like', ascending=False)
sorted_data

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334
379,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,2177
349,117764,Photo,3,5,5,13,0.0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639.0,122.0,1806
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,137893,Photo,1,11,3,2,0.0,1228,2392,17,17,19,2392,1228,17,0,0.0,0.0,0
441,98195,Photo,1,3,5,4,1.0,1845,2670,9,9,9,1614,1008,9,0,0.0,0.0,0
417,104070,Photo,1,3,3,10,0.0,1874,2474,25,25,31,1483,1062,15,0,0.0,0.0,0
21,138414,Photo,1,12,7,10,0.0,1384,2467,15,15,20,2196,1172,15,0,0.0,0.0,0
100,137020,Photo,1,10,4,9,1.0,1357,2453,37,37,55,2154,1120,32,0,0.0,0.0,0

# Sorts by Multiple Columns

In [26]:
sorted_df = df.sort_values(by=['Type', 'like'], ascending=[True, False])
sorted_df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
403,107907,Link,1,4,2,6,0.0,70912,94172,1374,1106,1267,42338,27232,788,1,379.0,40.0,420
41,138895,Link,1,12,6,3,1.0,18480,28438,517,366,460,12078,6752,319,6,187.0,18.0,211
140,136013,Link,1,10,4,3,0.0,68992,229733,1032,975,1345,17842,8032,635,15,143.0,44.0,202
86,137177,Link,1,11,4,3,0.0,21176,54779,330,228,329,13858,5248,185,2,130.0,31.0,163
492,85979,Link,1,1,5,11,0.0,45920,5808,753,655,763,15766,10720,220,0,128.0,9.0,137
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,130791,Video,1,7,3,11,1.0,21872,40413,3872,3822,7327,24667,12920,2218,18,315.0,76.0,409
277,126424,Video,1,6,2,13,0.0,139008,277100,1779,1643,2356,107502,38720,1008,23,204.0,44.0,271
29,138895,Video,1,12,4,11,1.0,36208,61262,1141,1068,1728,30131,14112,559,18,143.0,13.0,174
74,137893,Video,1,11,3,11,0.0,13544,30235,517,458,667,26622,11760,447,2,99.0,13.0,114
55,138329,Video,1,11,6,2,1.0,16416,31950,459,411,539,21436,9568,363,2,65.0,14.0,81

# D) Transposing Data

In [27]:
transposed_data = df.T
transposed_data

,0,1,2,3,4,5,6,7,8,9,...,489,490,491,492,493,494,495,496,497,498
Page total likes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,85979,85979,85979,85979,85093,85093,85093,81370,81370,81370
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Photo,Link,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,2,3,2,2,2,3,3,2,3,...,3,3,3,1,3,3,3,2,1,3
Post Month,12,12,12,12,12,12,12,12,12,12,...,1,1,1,1,1,1,1,1,1,1
Post Weekday,4,3,3,2,2,1,1,7,7,6,...,7,6,6,5,1,7,7,5,5,4
Post Hour,3,10,3,10,3,9,3,9,3,10,...,2,11,3,11,2,10,2,8,2,11
Paid,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Lifetime Post Total Reach,2752,10460,2413,50128,7244,10472,11692,13720,11844,4694,...,4800,5280,6184,45920,8412,5400,4684,3480,3778,4156
Lifetime Post Total Impressions,5091,19057,4373,87991,13594,20849,19479,24137,22538,8668,...,7754,8703,10228,5808,13960,9218,7536,6229,7216,7564
Lifetime Engaged Users,178,1457,177,2211,671,1191,481,537,1530,280,...,975,951,956,753,1179,810,733,537,625,626
Lifetime Post Consumers,109,1361,113,790,410,1073,265,232,1407,183,...,938,911,901,655,1111,756,708,508,572,574
Lifetime Post Consumptions,159,1674,154,1119,580,1389,364,305,1692,250,...,1278,1237,1140,763,1632,1003,985,687,795,832
Lifetime Post Impressions by people who have liked your Page,3078,11710,2812,61027,6228,16034,15432,19728,15220,4309,...,4932,5757,6085,15766,8632,5654,4750,3961,4742,4534
Lifetime Post reach by people who like your Page,1640,6112,1503,32048,3200,7852,9328,11056,7912,2324,...,2820,3300,3502,10720,5348,3230,2876,2104,2388,2452
Lifetime People who have liked your Page and engaged with your post,119,1108,132,1386,396,1016,379,422,1250,199,...,432,431,437,220,699,422,392,301,363,370
comment,4,5,0,58,19,1,3,0,0,3,...,1,1,1,0,17,10,5,0,4,7
like,79.0,130.0,66.0,1572.0,325.0,152.0,249.0,325.0,161.0,113.0,...,74.0,79.0,105.0,128.0,185.0,125.0,53.0,53.0,93.0,91.0
share,17.0,29.0,14.0,147.0,49.0,33.0,27.0,14.0,31.0,26.0,...,28.0,30.0,46.0,9.0,55.0,41.0,26.0,22.0,18.0,38.0
Total Interactions,100,164,80,1777,393,186,279,339,192,142,...,103,110,152,137,257,176,84,75,115,136

# E) Shape and Reshape Data

In [28]:
data.shape

(500, 19)

# Reshape Data

# i) Wide to Long Format

In [29]:
melted_data = df.melt(id_vars=['Type'], value_vars=['like', 'share', 'comment'])
melted_data.head()

     Type variable   value
0   Photo     like    79.0
1  Status     like   130.0
2   Photo     like    66.0
3   Photo     like  1572.0
4   Photo     like   325.0

# ii) Long to Wide Format

In [30]:
pivoted_data = melted_data.pivot_table(index='Type', columns='variable', values='value', aggfunc='sum')
pivoted_data.head()

variable  comment     like    share
Type
Link         62.0   1613.0    284.0
Photo      3192.0  77492.0  11433.0
Status      401.0   7952.0   1414.0
Video        86.0   1620.0    365.0

# iii) Remove Duplicates Before Pivoting

In [31]:
melted_data = melted_data.drop_duplicates(subset=['Type', 'variable'])
melted_data

        Type variable  value
0      Photo     like   79.0
1     Status     like  130.0
22      Link     like   16.0
29     Video     like  143.0
495    Photo    share   17.0
496   Status    share   29.0
517     Link    share    2.0
524    Video    share   13.0
990    Photo  comment    4.0
991   Status  comment    5.0
1012    Link  comment    0.0
1019   Video  comment   18.0

# iv) Pivot the data

In [32]:
pivoted_data = melted_data.pivot(index='Type', columns='variable', values='value')
pivoted_data

variable  comment   like  share
Type
Link          0.0   16.0    2.0
Photo         4.0   79.0   17.0
Status        5.0  130.0   29.0
Video        18.0  143.0   13.0

In [33]:
import matplotlib.pyplot as plt
import seaborn as sns

In [51]:
# Countplot

In [50]:
# plt.figure(figsize=(10,6))
# sns.countplot(x='Category', data=df, palette='viridis')
# plt.title("Category Distribution")
# plt.show()

In [ ]:
# Scatterplot

In [52]:
# plt.figure(figsize=(10,6))
# sns.scatterplot(x="like", y="share", data=df, hue="Type", style="Type", s=100)
# plt.xlabel("Likes")
# plt.ylabel("Shares")
# plt.title("Likes vs Shares")
# plt.show()

In [ ]:
# Boxplot

In [53]:
# plt.figure(figsize=(10,6))
# sns.boxplot(x="Type",y="like",data=df,palette='rainbow')
# plt.xlabel("Post Type")
# plt.ylabel("Likes")
# plt.title("Post Type vs Likes")
# plt.show()

In [54]:
# Barplot

In [55]:
# plt.figure(figsize=(10,6))
# sns.barplot(x="Type",y="like",data=df, color ="salmon")
# plt.xlabel("Post Type")
# plt.ylabel("Likes")
# plt.title("Post Type vs Likes")
# plt.show()

In [56]:
# Histogram

In [64]:
# plt.figure(figsize=(10,6))
# sns.histplot(df['Lifetime Post Total Reach'], bins=30, kde=True, color='red', alpha=0.6, linewidth=2, edgecolor='black', element='step',stat='density')
# plt.xlabel("Lifetime Post Total Reach")
# plt.ylabel("Frequency")
# plt.title("Likes Distributtion")
# plt.show()

In [ ]:
# Pairplot

In [57]:
# sns.pairplot(df[['like', 'share', 'comment']])
# plt.show()

In [58]:
# Heatmap

In [59]:
# plt.figure(figsize=(10,6))
# numerical_df = df.select_dtypes(include=[np.number])
# sns.heatmap(numerical_df.corr(), annot=True, cmap='coolwarm', linewidth=2)
# plt.title("Correlation Heatmap")
# plt.show()

In [60]:
# Lineplot

In [61]:
# plt.figure(figsize=(10,6))
# sns.lineplot(x="like", y="share", data=df, hue="Type", style="Type", markers=True)
# plt.xlabel("Likes")
# plt.ylabel("Shares")
# plt.title("Likes vs Shares")
# plt.show()

In [62]:
# Piechart

In [63]:
# plt.figure(figsize=(10,6))
# df['Category'].value_counts().plot(kind='pie', autopct='%1.1f%%', shadow=True, startangle=90, legend=True, labels=None, pctdistance=0.8)
# plt.title("Category Distribution")
# plt.show()